<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Facebook</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1611529023149789</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.189696981233-31mu7ei86nvre7rfbq4bdsqc25gsj0eq</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>1611529023149789</string>
	<key>FacebookClientToken</key>
	<string>83ba236f669461ab5ef1c75d5089ec27</string>
	<key>FacebookDisplayName</key>
	<string>Treasure Hunt</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>SUPABASE_URL</key>
	<string>$(SUPABASE_URL)</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>$(SUPABASE_ANON_KEY)</string>
	<key>HISTORIC_BUILDINGS_URL</key>
	<string>$(HISTORIC_BUILDINGS_URL)</string>
	<key>HISTORIC_BUILDINGS_KEY</key>
	<string>$(HISTORIC_BUILDINGS_KEY)</string>
	<key>NSCameraUsageDescription</key>
	<string>We need camera access to scan QR codes for receiving transfers</string>
</dict>
</plist>
