<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>189696981233-31mu7ei86nvre7rfbq4bdsqc25gsj0eq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.189696981233-31mu7ei86nvre7rfbq4bdsqc25gsj0eq</string>
	<key>API_KEY</key>
	<string>AIzaSyDWH9ue4_Jlwu4gXcEaf7D3SfhSQSQedmU</string>
	<key>GCM_SENDER_ID</key>
	<string>189696981233</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jay.treasurehunt</string>
	<key>PROJECT_ID</key>
	<string>oval-treasure-hunt</string>
	<key>STORAGE_BUCKET</key>
	<string>oval-treasure-hunt.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:189696981233:ios:e54b14b1ecad6e55109150</string>
</dict>
</plist>